/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */

.fastyle-home {
    color: $brand-color;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 120px;
}

.banner {
  padding: 180px 0px;
  background-image: center;
  background-size: cover;
}

.banner h1 {
  color: white;
  margin-bottom: 60px;
}

.home-description {

}
