/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */

.thumbnail {
  padding: 35px 4px;
}

.fastyle-home {
  color: $brand-color;
  font-size: 120px;
}

.description {
  margin-bottom: 100px;
  margin-top: 80px;
  h1 {
    font-size: 40px;
  }
}

.how-it-works {
  margin-bottom: 35px;
  margin-top: 35px;
  padding-top: 40px;
  p {
    font-size: 30px;
    font-weight: 400
  }
}

