.terms-of-use {
  width: 650px;
  margin: auto;
  text-align: center;
  padding-top: 75px;
  font-family: 'Roboto', Arial, sans-serif;
  padding-bottom: 55px;
}

.panel-heading h1 {
  color: white;
  font-size: 40px;
}
