<footer class="footer-distributed">

      <div class="footer-left">

        <%= image_tag "logo.jpg", class: "footer-logo" %>

        <p class="footer-links">
          <%= link_to "Home", root_path %>
          ·
          <a href="#">How it works</a>
          ·
          <a href="#">About</a>
          ·
          <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">Lexy &copy; 2015</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p>Co.station<span>Place Sainte-Gudule, 5</span>Brussels, Belgium</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+32(0)024242424</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">info@lexy.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About Lexy</span>
          Lexy helps legal professionals easily manage their knowhow.
        </p>

        <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>

        </div>

      </div>

    </footer>
