<div class="banner text-center banner-first">
    <div class="container banner-content">
      <h1>Legal documents made responsive</h1>
      <%= link_to "Start your free trial now!", documents_path, class: "btn btn-primary btn-lg" %>
    </div>
</div>

<div class="container">

  <div class="description text-center">
    <h1>Lexy helps legal professionals manage their knowledge</h1>
  </div>

  <div class="how-it-works text-center">
    <p>This is how it works</p>
  </div>

  <div class="text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="thumbnail">
          <i class="fa fa-file-text fastyle-home"></i>
          <div class="caption">
            <h3>Upload a file</h3>
            <p>The law articles inside are being checked</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="thumbnail">
          <i class="fa fa-flag fastyle-home"></i>
          <div class="caption">
            <h3>Receive real-time alerts</h3>
            <p>For law changes impacting your documents</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="thumbnail">
          <i class="fa fa-check-square-o fastyle-home"></i>
          <div class="caption">
            <h3>Assess the impact</h3>
            <p>With the help of contextualised data</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="banner text-center banner-second">
    <div class=" container banner-content">
      <h1>Receive alerts most relevant to your clients</h1>
      <%= link_to "Upload a document for free!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </div>
</div>

<div class="how-it-works text-center">
  <p>This is what you get</p>
</div>

<div class="container description text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="thumbnail">
        <i class="fa fa-book fastyle-home"></i>
        <h3>Enhanced reusability of legal documents</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="thumbnail">
        <i class="fa fa-clock-o fastyle-home"></i>
        <h3>Automatic monitoring of law changes</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="thumbnail">
        <i class="fa fa-paper-plane-o fastyle-home"></i>
        <h3>Generation of targeted client leads</h3>
      </div>
    </div>
  </div>
</div>

<div class="description container text-center">
  <h1>We take confidentiality and cyber-security seriously</h1>
  <%= link_to "Here's how",root_path, class: "btn btn-primary btn-lg" %></p>
</div>

