<div class="text-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url(<%= image_url "banner-logo" %>);">
  <div class="container log-in">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1>Terms of Use</h1>
      </div>
      <div class="panel-body">
        <p>Please note that this is a <strong>beta version</strong> of the Lexy website which is still undergoing final testing before its official release. The website, its software and all content found on it are provided on an “as is” and “as available” basis. Lexy does not give any warranties, whether express or implied, as to the suitability or usability of the website, its software or any of its content.</p>
        <p>In particular, Lexy does not give any guarantee as to the accuracy, validity, exhaustivity and/or relevance of the information it is providing. Lexy does not provide legal advice, does not abide by any bar or professional rules and is not bound to any fiduciary or professional duties.</p>
        <p>This Beta version of Lexy exclusively works for a document containing references to some of the articles of the French "<strong>Code du travail</strong>" and "<strong>Code de la santé publique</strong>".</p>
        <p>Lexy will not be liable for any loss, whether such loss is direct, indirect, special or consequential, suffered by any party as a result of their use of the Lexy website, its software or content. Any downloading or uploading of material to the website is done at the user’s own risk and the user will be solely responsible for any damage to any computer system or loss of data that results from such activities.</p>
        <p>Should you encounter any bugs, glitches, lack of functionality or other problems on the website, please let us know immediately so we can rectify these accordingly. Your help in this regard is greatly appreciated.</p>
      </div>
      <div class="panel-footer panel-footer-custom">
        <%= link_to 'Go back', new_user_registration_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
</div>
