<h1>Show document</h1>
<% @document.paragraphs.each do |p| %>
  <%= p.html_safe %>
<% end  %>





<% @references.each do |ref| %>
  <p><strong>Article: </strong><%= ref[:num] %></p>
  <p><strong>Law: </strong><%= ref[:name] %></p>
  <p>*****</p>
<% end %>


