html, body {
  height: 100%;
}

body {
  font-weight: 300;
  background: #f5f7f9;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.app-content {
  flex: 1;
}

h1 {
  font-size: 20px;
  font-weight: 300;
  color: #737373;
  margin: 40px 0 24px;
}
