.title-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: transparent;
  font-size: 20px;
  font-weight: 300;
  color: #737373;
  margin: 40px 0 24px;
  width: 100%;
  outline: 0;
}
