// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

// Devise - TODO move to correct file

.log-in{
  width: 450px;
  margin:auto;
  text-align:center;
  padding-top: 75px;
  font-family: 'Roboto', Arial, sans-serif;
  padding-bottom: 55px;
}

.panel-heading{
  background-color:#fff;
}

.form-control{
  width: 250px;
  text-align: center;
  margin:auto;
}

.panel-body p{
  color:#555;
}

.panel-footer-custom {
  background-color: lighten($gray-lighter, 5%);
  padding-top: 20px;
  padding-bottom: 20px;
}
